<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CloudFlare_DDNS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <CloudFlare_DDNS.Properties.Settings>
            <setting name="ExternalAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="FetchTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SelectedHosts" serializeAs="String">
                <value />
            </setting>
        </CloudFlare_DDNS.Properties.Settings>
    </userSettings>
</configuration>
